/**** 
//--------------------------------
// GENERAL
//-------------------------------
****/
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: linear-gradient(to bottom right,rgb(2, 248, 195),rgb(248, 11, 236), rgb(255, 0, 128)); 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px;
}

h1 {
	font-size: 2.3em;
  line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
    
    color: black;
	margin: 0 0 1.5em 0;}
    

    img {
        max-width: 100%;
        height: auto;
    }
    
    
    /**** 
    //-------------------------------
    // CABECERA
    //-------------------------------
    ****/
    #main-header {
        background: #333;
        color: #666;
        height: 80px;
        
        width: 100%;
        left: 0;
        top: 0;
        position: fixed;
    }	
        #main-header a {
            color: white;
        }
        
        
    /*
     * Logo
     */
    #logo-header {
        float: left;
        padding: 15px 0 0 20px;
        text-decoration: none;
    }
        #logo-header:hover {
            color: #0b76a6;
        }
        
        #logo-header .site-name {
            display: block;
            font-weight: 700;
            font-size: 1.2em;
        }
        
        #logo-header .site-desc {
            display: block;
            font-weight: 300;
            font-size: 0.8em;
            color: #999;
        }
        
    
    /*
     * Navegación
     */
    nav {
        float: right;
    }
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            padding-right: 20px;
        }
        
            nav ul li {
                display: inline-block;
                line-height: 80px;
            }
                
                nav ul li a {
                    display: block;
                    padding: 0 10px;
                    text-decoration: none;
                }
                
                    nav ul li a:hover {
                        background: #0b76a6;
                    }
        
    
    
    
    /**** 
    //------------------------------
    // CONTENIDO
    //------------------------------
    ****/
    #main-content {
        background: white;
        width: 90%;
        max-width: 800px;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        border: 5px solid transparent;
        -moz-border-image: -moz-linear-gradient(top, rgb(255, 0, 128) 0%, rgb(248, 11, 236) 50% ,rgb(2, 248, 195)  100%);
        -webkit-border-image: -webkit-linear-gradient(top, rgb(255, 0, 128) 0%, rgb(248, 11, 236) 50% ,rgb(2, 248, 195)  100%);
        border-image: linear-gradient(to bottom,top, rgb(255, 0, 128) 0%, rgb(248, 11, 236) 50% ,rgb(2, 248, 195)  100%);
        border-image-slice: 1;
    }
    
        #main-content header,
        #main-content .content {
            padding: 40px;
        }
        
    
    
    /****
    //-----------------------------
    // PIE PÁGINA
    //-----------------------------
    ****/
    #main-footer {
        background: #333;
        color: white;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
    }
        #main-footer p {
            margin: 0;
        }
        
        #main-footer a {
            color: white;
        }

                            
        
        ul, ol {
            list-style:none;
        }
        

        /*menu desplegable*/

        .nav > li {
            float:left;
        }
        
        .nav li a {
            width: 200px;
            background:linear-gradient(to bottom right,rgb(248, 2, 145),rgb(255, 0, 242) );
            color:#fff;
            text-decoration:none;
            padding:10px 12px;
            display:flex;
            align-content:space-between;
            border: 1px solid black;
        }
        
        .nav li a:hover {
            background-color:#434343;
        }
        
        .nav li ul {
            display:none;
            position:absolute;
            min-width:140px;
        }
        
        .nav li:hover > ul {
            display:block;
        }
        
        .nav li ul li {
            position:relative;
        }
        
        .nav li ul li ul {
            right:-140px;
            top:0px;
        }